body{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.nav-container {
  display:inline-flex;
  justify-content: center;
  align-items:center;
  text-align: center;
  height: 215px;
  background-color: #f2f2f2;
  width: 100%;
  opacity: 0.9;
}

.nav-link {
  display: inline-block;
  width: 100px;
  display: inline;
  padding: 40px;
}

.nav-link a {
  text-decoration: none;
  font-family: 'Lato', Regular, sans-serif;
  font-size: 0.9em;
  color: #323232;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.fix-logo img {
 width: 140px;
}

.fix-index-hero img {
 width: 100%;
 display: block;
 margin: 0 auto;

}
h1 {
  font-family:'Oswald', sans-serif;
  font-size: 2.1em;
  color: white;
  background-color: #d49b30;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 530px;
  margin-left: 500px;
  justify-content: center;
  z-index: 0;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 1.125em;
  color: #8e5942;
  text-transform: uppercase;
  text-align: left;
  width: 40%;
  padding-left: 300px;
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-family: 'Lato', sans-serif;
  color: #303030;
  font-size: 1em;
  line-height: 1.6em;
  text-align: left;
  width: 40%;
  padding-left: 300px;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 0;


}

.section-top {
display: flex;
align-items: flex-start;
align-items: stretch;
justify-content: center;
}

.one {
  font-family: sans-serif;
  font-size: 1em;
  color: #303030;
  line-height: 1.6em;
  padding: 20px;
  margin-top: 0;
  text-align: left;
  width: 50%;
}

.one-1 {
  background-color: #e0d7c5;
  text-align: center;
  width: 50%;
}

.cake-menu {
  color: #f2f2f2;
  font-family: 'Oswald', sans-serif;
  font-size: 2.25em;
}

.one a {
  color: #8e5942;
}

.one-1 img {
width: 80px;
}

.info {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #8e5942;
  height: 220px;
  width: 100%;
  font-family: "Oswald",sans-serif;
  font-size: 2.1em;
  color: #f2f2f2;
}

.section-1 {
 display: flex;
  width: 100%;
  align-items: stretch;
  }

.section-1 img{
width: 70%;
}

.heart img {
  width: 80px;
}
 .heart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
}

.heart p {
justify-content:center;
text-align: center;
font-family: "Oswald",sans-serif;
color: #c3bbac;
font-size: 2.5em;
line-height: 2em;
}

.section-2 {
  display: flex;
  width: 100%;
}

.section-2 p {
  justify-content: center;
  text-align: center;
    flex-direction: column;
}

.section-2 img {
  width: 30%;
  flex-direction: column;
}

.fix-index-cake2 {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fix-index-cake2 img {
  width: 80%;
  display: flex;
}

.section-3 {
  display: flex;
  width: 100%;
}

.section-3 img {
  width: 70%;
  display: flex;
}

.fix-index-bulbcon {
  width: 30%;
  flex-direction: column;
}

.fix-index-bulbcon img {
  height: 80px;
}

.fix-index-bulbcon p {
  justify-content: center;
  text-align: center;
}

.container {
  background-color: #be5f27;
  width: 100%;
  height: 215px;
  display:inline-flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.address {
 font size: 0.9pm;
 color: #f2f2f2;
 }

.fix-logo-white img {
  width: 100px;
}
.fix-icon img {
  height: 38px;
}

/*menu page-menu.css*/
.cbutton{
  padding-right: 3%;
  cursor: pointer;
  cursor: hand;
}
.obutton{
  background-color: white;
  color: #d49b30;
  padding-left: 1%;
  padding-right: 1%;
  width: 100%;
  cursor: pointer;
  cursor: hand;
}

footer p {
  font-family: 'Oswald',sans-serif;
  font-size: 0.9em;
  color: #f2f2f2;
}
